.userCard {
	border: 2px solid black;
	border-radius: 18px;

	.title {
		background-color: rgb(129, 130, 196);
		height: 60px;
		border-radius: 17px 17px 0 0;
		position: relative;
		width: 273px;
		display: flex;
		justify-content: space-between;
		// margin-bottom: 60px;
		.titleText {
			width: 200px;
			// height: 100%;
			// margin-right: 50px;
		}
	}

	.userBody {
		padding: 50px 25px 25px 25px;

		.profileImg {
			width: 150px;
			border-radius: 150px;
			margin-bottom: 30px;
		}
		.form {
			display: flex;
			flex-direction: column;
			gap: 25px;
		}
	}
}
